

/* Add a new button style */
.submittik {
  margin-right: 300px;
  display: block;
  width: 150px;
  padding: 10px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(228, 127, 18); /* Orange color for the button */
  border: 1px solid rgb(228, 127, 18);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 20px;
}

.submittik:hover {
  background-color: transparent;
  color: rgb(228, 127, 18); /* Matching hover color */
}

/* Disabled Add Category button */
.submittik-disabled {
  background-color: rgb(169, 169, 169);
  border: 1px solid rgb(169, 169, 169);
  color: rgb(169, 169, 169);
  cursor: not-allowed;
}

.remove-writerpad {
  padding: 10px 15px;
  font-size: 14px;
  color: rgb(245, 245, 245);
  background-color: rgb(166, 95, 19);
  border: 1px solid rgb(166, 95, 19);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.remove-writerpad:hover {
  background-color: transparent;
  color: rgb(166, 95, 19);
}


html, body { 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#podcaste {
  background: rgb(74, 152, 174, 1);
  background: linear-gradient(39deg, rgba(74,152,174,1) 0%, rgba(228,127,18,1) 100%) fixed;
  direction: rtl; 
}

.eventpad{
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  font-family: 'Anjoman-FaNum-Bold';
  justify-content: center;
  align-items: center;
}

.infopad {
  font-size: 2.3rem;
  margin-bottom: 15px;
  color: rgb(74, 152, 174);
}

.Labelpad {
  color: rgb(0, 68, 80);
  font-size: 1.2rem;
  text-align: right; 
  display: block; 
  width: auto;
  margin-right: 40px;
  margin-top: 20px;
}

.L1pad {
font-family: 'Anjoman-FaNum-Bold';
display: block;
text-align: right;
margin-right: 40px;
padding: 10px;
margin-top: 20px;
margin-bottom: 25px;
margin-left: 40px;
padding: 10px;
/* width: calc(100% - 40px); */
border: 1px solid rgb(74, 152, 174);
border-radius: 5px;
background-color: rgb(230, 230, 230);
transition: 0.5s;
font-size: 14px;
color: rgb(0, 67, 80);
}

.event-formpad {
  background: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  margin: 20px 50px auto;
}

.addinput-fieldpad{

    font-family: 'Anjoman-FaNum-Bold';
    display: block;
    text-align: right;
    margin-right: 40px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: calc(100% - 80px);
    border: 1px solid rgb(74, 152, 174);
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    transition: 0.5s;
    font-size: 14px;
    color: rgb(0, 67, 80);
    height: 45px;
  
  
}

.addinput-fieldpad:focus{
  border-color: rgb(0, 67, 80);
  outline-color: rgb(0, 67, 80);
  transition: 0.5s;
}



.infopad{
  font-size: 2.3rem;
  margin-bottom: 15px;
  color: rgb(74, 152, 174);
}

.error-messagepad{
  color: red;
  font-size: 12px;
  margin: 10px auto;
  margin-right: 40px;
  text-align: right;
  display: block;
}



.buttonadd-containerpad {
  display: flex;
  justify-content: left;
  gap: 10px;
  flex-wrap: wrap;
}

.submitpad {
  display: block;
  width: 100%;
  max-width: 120px;
  padding: 10px;
  font-size: 16px;
  color: rgb(253, 253, 253);
  background-color: rgb(74, 152, 174);
  border: 1px solid rgb(74, 152, 174);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.submitpad:hover {
  background-color: transparent;
  color: rgb(74, 152, 174);
}

.textarea-fieldpad {
  /* width: calc(100% - 40px);  */
  height: 200px; 
  font-size: 16px; 
  padding: 8px; 
  border-color: rgb(74, 152, 174); 
  border-radius: 4px; 
  box-sizing: border-box;
  overflow-y: scroll;
  resize: none;
}
.next-page-btnpad {
  display: block;
  width: 120px;
  padding: 10px;
  font-size: 16px;
  color: rgb(245, 245, 245);
  background-color: rgb(166, 95, 19);
  border: 1px solid rgb(166, 95, 19);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.next-page-btnpad:hover {
  background-color: transparent;
  color: rgb(166, 95, 19);
}
.textarea-fieldpad::-webkit-scrollbar {
  width: 10px;
}

.textarea-fieldpad::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.textarea-fieldpad::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.textarea-fieldpad {
  /* width: calc(100% - 40px);  */
  height: 200px; 
  font-size: 16px; 
  padding: 8px; 
  border-color: rgb(74, 152, 174); 
  border-radius: 4px; 
  box-sizing: border-box;
  overflow-y: scroll;
  resize: none;
}
.writer-field {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
  gap: 4px; /* Add space between icon and input */
  margin-bottom: 10px;
}

.trash-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: rgb(166, 95, 19);
  transition: transform 0.2s, color 0.2s;
}

.trash-icon:hover {
  transform: scale(1.2); /* Enlarge on hover */
  color: rgb(228, 127, 18); /* Change color on hover */
}


/* Responsive styles for smaller screens */
@media (max-width: 480px) {
  .eventpad {
    margin: 20px;
    padding: 20px;
  }

  .infopad{
    font-size: 1.3rem;
 
  }
  .Labelpad{
    font-size: 0.9rem;
    margin-right: 20px;  
  }
 .error-messagepad{
    font-size: 0.6rem;
    margin-right: 20px;
  }

  .event-formpad {
    margin: 20px;
  }

  .addinput-fieldpad, .custom-dropdownepad , .L1pad{
    width: calc(100% - 20px);
    font-size: 0.6rem;
    margin-right: 10px;
    margin-left: 10px;
  }
  .L1event{
    font-size: 0.6rem;
  }

  .buttonadd-containerpad {
    flex-direction: column;
    align-items: center;
    font-size: 0.6rem;
  }
  .submitpad{
    font-size: 0.6rem;

  }
  .remove-writerpad{
    font-size: 0.6rem;

  }
}

