html { 
  background-color: rgb(198, 198, 198) 
      /* box-shadow: 100px 20px 20px rgba(0, 0, 0, 0.3);  */ 
}    /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);  */ 
 
.Login { 
  border: 4px dashed rgb(228, 127, 18); 
  border-radius: 30px; 
  max-width: 400px; 
  margin: 50px auto; 
  padding: 15px; 
  background-color: rgb(233,233,233);
      /* box-shadow: 100px 20px 20px rgba(0, 0, 0, 0.3);  */ 

} 

 
.img2 { 
  width: 200px; 
  height: auto;  
  display: block; 
  margin: 0 auto; 
   /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);  */ 
} 
 
.input-field { 
  display: block; 
  margin: 3px auto; 
   
  width: 200px; 
  padding: 3px; 
  border:  solid rgb(228, 127, 18); 
  background-color:rgb(230, 230, 230); 
  border-radius: 5px; 
  transition: 0.5s; 
} 
 
.submit { 
  display: block; 
  margin: 6px auto; 
  width: 100px; 
  padding: 5px; 
  border-radius: 5px; 
  transition: 0.5s; 
  border: 1px solid rgb(74, 152, 174); 
  background-color: rgb(74, 152, 174); 
  color: rgb(255, 255, 255); 
  cursor: pointer; 
  /* margin-top: 80px; */ 
   
} 
 
.submit:hover:enabled { 
  background-color: transparent; 
  color: rgb(74, 152, 174); 
  border: 1px solid rgb(74, 152, 174); 
} 
 
.input-field:focus { 
  color: rgb(0, 67, 80); 
  outline-color: rgb(0, 67, 80); 
  transition: 0.5s; 
   
} 
 
.submit-disabled { 
  background-color: rgb(0, 67, 80); 
  color: white; 
  border: 1px solid rgb(0, 67, 80); 
  cursor: not-allowed;  
} 

.entry{ 
  font-size: 2.0rem; 
  font-weight: bold; 
  text-align:center;/* Smaller heading (e.g., 20px) */ 
} 
 
label { 
  font-size: 0.79rem; /* Smaller label text (e.g., 14px) */ 
} 
 
.text-danger { 
  font-size: 0.59rem; 
  color:  rgb(0, 67, 80); 
  text-align:center; 
} 

.Forget-Password{ 
  font-size: 0.80rem; 
  color: rgb(74, 152, 174); 
  text-align:center;/* Smaller heading (e.g., 20px) */ 
  text-align:center; 
} 

.Forget-Password1{ 
  font-size: 0.80rem; 
  color: rgb(0, 67, 80) /* Smaller error message text (e.g., 12px) */ 
}