
    .events-page-container {
      justify-items: center;
      padding-top: 10rem;
    }
  /* Events-body container to hold the nav and squares */
  .events-body {
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    padding-bottom: 5rem;
    min-height: 700px;
  }

  .add-button {
    display: block;
    width: auto;
    padding: 12px;
    background-color: #dc7744;
    color: #fff;
    font-weight: bold;
    font-size: small;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    font-family: 'Anjoman-FaNum-Bold';

  }

  /* Navbar styling */
  .nav-events-page {
    width: 100%; /* Full width of the parent container */
    /* background-color: rgb(138, 133, 133); */
    color: #fff;
    padding: 10px;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    /* gap: 15rem; */
    box-sizing: border-box;
    text-align: right;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .paging-div {
    width: 100%;
    background-color:white;
    /* padding: 10px; */
    height: auto;
    margin-bottom: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  /* .paging-div nav {
    text-align: left !important;
  } */

  option
  {
      text-align: right;
      font-weight: bold;
  }



  /* Square container styling */
  .square-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Space between squares */
    /* justify-content: flex-end; */
  }

  .events-descriptin-div{
    text-align: right;
    font-size: small;
  }

  /* Square styling */
  .square {
  border-radius: 1rem;
  padding: 8px;
    width: 270px;
    max-width: 270px;
    min-width: 270px;
    height: 23rem;
    background-color:#EAEAEA;
    flex: 1 1 calc(33.33% - 20px); /* Adjust to 3 per row with gap */
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow to squares */
    transition: box-shadow 0.3s ease; /* Smooth shadow transition */
    display: flex;
    flex-direction: column;
    /* align-items:flex-end; */
    overflow: hidden;
    /* margin-bottom: 20px; */
  }
  .square:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Extra shadow effect on hover */
      transform: translateY(-2px); /* Slight lift effect */
      }
  small {
      color: rgb(133, 143, 143);
  }

  .fa-money , .fa-map-marker {
      color: gray;
      font-size: 20px;
      
  }
  .card-image {
    width: 100%; 
    height: 170px; 
    object-fit: cover; 
    border-radius: 1rem;
    /* margin-bottom: 10px; */
  }
  .icon-div-money p {
      font-size: smaller;
  }
   /* p , label , option{
      
      font-family: 'Anjoman-FaNum-Light';
   } */
  h3 {
      /* margin: 2px; */
      font-size: 20px;
      font-family: 'Anjoman-FaNum-Bold';
  }
  .card-info {
      padding: 5px;
      /* align-items: flex-end; */
      justify-items: start;
  }
  .icon-div {
      display: flex;
      margin: 0px;
      gap: 5px;
      /* flex-direction: row; */
      align-items: center;
      height: 30px;
  }

  #dropdown {
      width: 100px;
      height: 42px;
      border-radius: 8px;
      color: #000; /* Text color */
      background-color: #fff; /* Background color */
      border: 1px solid #ccc; /* Border for the dropdown */
      font-size: 16px;
  }

  #dropdown option {
    color: #000; /* Text color */
    background-color: #fff; /* Background color */
  }
  
  label {
      margin-right: 10px;
      margin-left: 20px;
  }

  .events-search-box {
    position: relative;
    width: 70%;

  }
  
  .events-search-input {
    width: 100%;
    padding: 8px 12px;
    padding-right: 40px; /* Reserve space for the icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
  }
  
  .events-search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Make the icon non-interactive */
    color: #888;
  }

  .events-search-filter-div {
    display: flex;
    flex-direction: row; 
    gap: 20px;  
    align-items: center; 
  }
  
  @media (max-width: 768px) {
    .events-search-filter-div {
      flex-direction: column;  
      gap: 10px; 
      align-items: flex-start;
    }
    .events-body {
      width: 90%;
    }
    .square-container{
      justify-content: center;
    }
    .events-search-box {
      width: 90%;
    }
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .square {
      flex: 1 1 calc(50% - 20px); /* 2 squares per row on medium screens */
    }
  }

  @media (max-width: 270px) {
    .square {
      flex: 1 1 100%; /* 1 square per row on small screens */
    }
  }